body {
    background-image: url("palmid-640x410.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#kast {
    width: 600px;
    height: 700px;
    margin: auto;
    border: 2px solid black;
    border-radius:5%;
    background-color:lightgrey;
}

h1 {
    color:blue;
    margin-left: 15px;
}

#pilt {
    display: block;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
    margin-left: 15px;
}